<div class="row mb-3">
    <div class="col">
        <div class="row">
            <div class="col-1 text-center align-items-center justify-content-center">
                {% include 'questions/votes.html' %}
                {% include 'questions/award.html' %}
            </div>

            <div class="col-11">
                <p>{{ answer.content|linebreaksbr }}</p>
            </div>
        </div>

        <!-- author -->
        <div class="row">
            <div class="col text-right">
                <small><span class="text-info">{{ answer.user.username }}</span> answered
                    {{ answer.date_pub|timesince }} ago</small>
            </div>

        </div>
    </div>
</div>
<hr class="mb-3" />