{% url 'users:profile' as profile %}
{% url 'users:logout' as logout %}
{% url 'users:login' as login %}
{% url 'users:register' as register %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Hasker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <form class="form-inline" method="get" action="{% url 'questions:search' %}">
            <input name="s" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        {% if request.user.is_authenticated %}
        <div class="navbar-nav ml-3">
            <a class="nav-link {% if request.path == profile %}active{% endif %}" href="{{ profile }}">
                {% if request.user.avatar %}
                <img src="{{ request.user.thumbnail_url }}" class="user-avatar-extra-small rounded rounded-lg"/>
                {% else %}
                <img src="{% static 'users/img/placeholder.png' %}" class="user-avatar-extra-small rounded rounded-lg"/>
                {% endif %}
                {{ request.user.username }}
            </a>
            <a class="nav-link" href="{{ logout }}">Logout</a>
        </div>
        {% else %}
        <div class="navbar-nav">
            <a class="nav-link {% if request.path == login %}active{% endif %}" href="{{ login }}">Log In</a>
            <a class="nav-link {% if request.path == register %}active{% endif %}" href="{{ register }}">Sign Up</a>
        </div>
        {% endif %}
    </div>


</nav>